.toolbar-color-green md-toolbar {
  background: rgb(56, 142, 60) !important;
}
.toolbar-color-red md-toolbar {
  background: rgb(244, 67, 54);
}
.font-size-large * {
  font-size: 1.2em;
}
.font-size-small * {
  font-size: 1.0em;
}

/*STRONG CONTRAST*/
.strong-contrast{
  color: black;
}
.strong-contrast md-toolbar {
  background-color: rgb(0, 0, 0);
}
.strong-contrast md-toolbar.mat-toolbar > md-toolbar-row.mat-toolbar-row > span,
.strong-contrast .app-content .app-action button.mat-fab{
  color: rgb(255,255,255) !important;
}


/*NIGHT MODE*/
.night-mode {
  -webkit-filter: invert(1) hue-rotate(180deg);
  filter: invert(1) hue-rotate(180deg);
}
.night-mode md-toolbar {
  background-color: rgb(60, 60, 60);
}